.resourcesBoxWrap {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: fixed;
    bottom: 80px;
    background-color: #0d1a22;
    padding: 2px 4px;
    z-index: 10;
    font-family: "TTSC-Regular";
    width: 456px;
}

.resourcesBoxWrap ul,
.resourcesBoxWrap ul li {
    margin: 0;
    padding: 0;
    display: block;
    cursor: default;
}

.resourcesBoxWrap ul::after,
.resourcesBoxWrap ul li::after {
    content: ' ';
    display: block;
    clear: both;
}

.resourcesBoxWrap ul li {
    float: left;
    margin-right: 12px;
}

.resourcesBoxWrap ul li:last-child {
    margin: 0;
}

.resourcesBoxWrap ul li img {
    float: left;
    height: 23px;
}

.resourcesBoxWrap ul li p {
    float: left;
    color: #efefef;
    margin: 0;
    padding: 0;
    line-height: 12px;
    margin-left: 6px;
    width: 30px;
}
.resourcesBoxWrap ul li p span {
    display: block;
    color: #ff4761;
}

.resourcesBoxWrap ul li button {
    width: 22px;
    height: 22px;
    background: #efefef;
    border: 0;
    box-sizing: border-box;
    padding: 2px 8px;
    margin-top: 1px;
}
.resourcesBoxWrap ul li button img {
    height: 18px;
}
