.editorWrap {
    width: 100vw;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 40px 0;
    font-size: 14px;
}

.editorWrap .contentWrap {
    background-color: #112029;
    width: 100%;
    padding: 28px 40px;
    box-sizing: border-box;
}

.editContent * {
    outline: 0 !important;
}

.editorWrap .contentWrap h2 {
    color: #88989e;
    font-size: 18px;
    padding-bottom: 8px;
    margin-top: 24px;
}

.leftContent {
    width: -webkit-calc(100% - 300px);
    width: -moz-calc(100% - 300px);
    width: calc(100% - 300px);
}

.rightContent {
    width: 280px;
    float: right;
    box-sizing: border-box;
    padding-left: 24px;
}

.editContent label {
    font-size: 14px;
    color: #88989e;
    margin-bottom: 4px;
    display: block;
}

.editContent .mainLabel {
    background-color: #112029;
    margin-top: -26px;
    padding: 8px 0;
    margin-bottom: 10px;
    border-bottom: 2px solid #162834;
    color: #5a6870;
}
.editContent input {
    width: 100% !important;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #09131966;
    border: 1px solid #88989e;
}
.editContent textarea {
    width: 100% !important;
    padding: 8px 16px;
    min-height: 120px;
    font-size: 14px;
    background-color: #09131966;
    border: 1px solid #88989e;
}

.statsFormWrap {
    display: flex;
}
.statsFormWrap > div {
    margin-right: 16px;
}
.statsFormWrap > div:last-child {
    margin-right: 0;
}

.galleryWrap button {
    width: 100%;
    text-align: center;
    background: none;
    border: 1px dashed #88989e;
    padding: 12px 0;
    margin-top: 16px;
    cursor: pointer;
}
.galleryWrap button:hover {
    color: #fdbf00;
}

.imageFormWrap {
    margin-bottom: 12px;
    display: flex;
    position: relative;
}
.imageFormWrap .info {
    width: 100%;
    margin-right: 24px;
}
.imageFormWrap .info > div {
    margin-right: 16px;
    margin-bottom: 4px;
}
.imageFormWrap > div:last-child {
    margin: 0;
}
.imageFormWrap .imageTitle {
    width: 100%;
}
.imageFormWrap .imageDesc {
    width: 100%;
}

.imageFormWrap .imageDesc textarea {
    height: 122px !important;
    min-height: 40px !important;
}

.imageFormWrap .preview {
    width: 180px;
}

.imageFormWrap .remove {
    position: absolute;
    right: -6px;
    top: 8px;
}

.imageFormWrap .generatePreview {
    width: 180px;
    height: 180px;
    background-color: #09131966;
    border: 1px solid #88989e;
}

.imageFormWrap .generateButton {
    color: #fdbf00;
    cursor: pointer;
    display: block;
}

.imageFormWrap .generateButton:hover {
    color: #ba8b00;
}

.quoteList .quoteFormItem {
    margin-bottom: 8px !important;
    position: relative;
}

.quoteList button {
    width: 100%;
    text-align: center;
    background: none;
    border: 1px dashed #88989e;
    padding: 12px 0;
    margin-top: 16px;
    cursor: pointer;
}
.quoteList button:hover {
    color: #fdbf00;
}

.quoteList .remove {
    position: absolute;
    right: -6px;
    top: 8px;
}

.tabs {
    padding: 0 !important;
    margin: 0 !important;
}
.tabs span {
    display: inline-block;
    margin-right: 16px;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
    margin-bottom: -2px;
    cursor: pointer;
}
.tabs span.active {
    color: #fdbf00;
    border-bottom: 2px solid #fdbf00;
}
