[submodule "packages/wsrtc"]
	path = packages/wsrtc
	url = https://github.com/webaverse/wsrtc.git
[submodule "packages/zjs"]
	path = packages/zjs
	url = https://github.com/webaverse/zjs.git
[submodule "packages/three"]
	path = packages/three
	url = https://github.com/webaverse/three.git
[submodule "packages/characters"]
	path = packages/characters
	url = https://github.com/webaverse/characters.git
[submodule "packages/scenes"]
	path = packages/scenes
	url = https://github.com/webaverse/scenes.git
[submodule "packages/previewer"]
	path = packages/previewer
	url = https://github.com/webaverse/previewer.git
[submodule "packages/multiplayer-do"]
	path = packages/multiplayer-do
	url = https://github.com/webaverse/multiplayer-do.git
[submodule "packages/wiki"]
	path = packages/wiki
	url = https://github.com/webaverse/wiki.git
[submodule "packages/compiler"]
	path = packages/compiler
	url = https://github.com/webaverse/compiler.git
[submodule "packages/three-vrm"]
	path = packages/three-vrm
	url = https://github.com/webaverse/three-vrm.git
[submodule "packages/zine"]
	path = packages/zine
	url = https://github.com/webaverse/zine
