
/* */

.titleScreen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* */

.titleScreen .mainScreen { 
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.titleScreen .mainScreen:not(.enabled) {
  display: none;
}

.titleScreen .mainScreen .footer {
  position: relative;
  margin: 50px;
  margin-top: auto;
  padding: 10px;
  font-family: 'SF Movie Poster';
  font-size: 40px;
  line-height: 1;
  /* letter-spacing: 1px; */
  align-items: center;
  background-color: #000;
  color: #FFF;
}

.titleScreen .mainScreen .footer .bold {
  font-family: 'SF Movie Poster Bold';
}

.titleScreen .mainScreen .footer .right {
  /* float: right; */
}

/* */

.titleScreen .mainScreen .canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* */

.titleScreen .gallery {
  display: flex;
  flex-wrap: wrap;
}

.titleScreen .gallery .imageWrap {
  padding: 5px;
  border: 3px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
.titleScreen .gallery .imageWrap:hover {
  border-color: #000;
}

.titleScreen .gallery .imageWrap .image {
  width: 128px;
  height: 128px;
}