
.clearfix {
    clear: both;
}

.slider {
    background-color: #0d1a22;
    padding: 2px;
}

.minus {
    float: left;
}

.progressWrapper {
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    width: 120px;
    height: 8px;
    background-color: #1f313b;
}

.progressFill {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #feffff;
    transition: width 200ms ease;
}

.value {
    float: left;
    padding: 3px 10px;
    color: #fff;
    font-weight: bold;
    width: 44px;
    text-align: center;
}

.plus {
    float: left;
}