@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* body {
  background-color: #000;
} */

.App {
  height: 100%;
  width: 100%;
  /* text-align: center; */
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.canvas.domHover {
  pointer-events: none;
}