
.inspector {
    position: absolute;
    width: 300px;
    pointer-events: none;
    user-select: none;
    z-index: 1;
}

.inspector img {
    position: absolute;
    top: -203px;
    left: 0;
}
