.locationMenu {
    position: absolute;
    bottom: 32px;
    left: 14px;
    width: 128px;
    height: 115px;
}
.mapWrap {
    width: 160px;
    height: 140px;
    overflow: hidden;
    position: relative;
}
.mapWrap .map {
    width: 140px;
    height: 140px;
}
.locationMenu .controls {
    top: -28px;
    left: 4px;
    text-align: center;
    position: absolute;
    width: 100%;
}
.locationMenu .controls .button {
    margin: 0 1px;
}
