
.switch {
    position: relative;
    background-color: #0d1a22;
    padding: 2px;
    margin-top: 4px !important;
    float: left;
    margin-left: 32px;
    width: 220px;
}

.switch .left {
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.switch .right {
    float: right;
    color: #fff;
}

.switch .value {
    position: absolute;
    width: calc( 100% - 80px );
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    margin-left: 50%;
    transform: translate( -50%, 0px );
}